<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd "
	   default-autowire="byName" default-lazy-init="false">
 
    <!-- 添加注解驱动 -->
    <mvc:annotation-driven validator="validator"/>
    <!-- <mvc:default-servlet-handler /> -->
    <!-- <mvc:annotation-driven>
    	消息转换器  
    	<mvc:message-converters register-defaults="true">  
      		<bean class="org.springframework.http.converter.StringHttpMessageConverter">  
        		<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
      		</bean>  
    	</mvc:message-converters>
    </mvc:annotation-driven> -->
    
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:i18n/validmessage"></property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>
    
    <!-- 静态资源 -->
    <!-- <mvc:resources location="/js/" mapping="/js/**"></mvc:resources> -->
    
 	<!-- 默认扫描的包路径 -->  
   	<context:component-scan base-package="org.ipph.web.controller.cpquery"/>
   	<context:component-scan base-package="org.ipph.web.controller.api"/>
    
    <!-- 全局异常处理 -->
    <!-- <context:component-scan base-package="org.ipph.web.exception"/> -->
    
    <!-- 定义跳转的文件的前后缀 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/jsp/" /> 
        <property name="suffix" value=".jsp" />
    </bean>  
</beans>