/* Google Font's Droid Sans */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.ttf')/*tpa=http://114.251.8.193/common/fonts/DroidSans.ttf*/, format('truetype');
}
/* Google Font's Droid Sans Bold */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/DroidSans-Bold.ttf')/*tpa=http://114.251.8.193/common/fonts/DroidSans-Bold.ttf*/, format('truetype');
}
